body{
    background-color: beige;
}
h1{
    color:rgb(4, 4, 139);
    font-size: 50px;
}

h2{
    color:rgb(4, 4, 139);
}

.singleWordDescription{
    color:rgb(202, 202, 0);
}

.mood{
    width: auto;
    height: 200px;
}

.checker{
    width: 100px;
    height: auto;
}

.welcomeContainer{
    background-color:antiquewhite;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #ccc;
    padding: 10px;
}

.welcomeContainer img{
    height: 10em;
    width: auto;
}

.LogoutButton{
    border-radius: 10px;
    height: auto;
    width: 100px;
    padding: 10px;
    font-size: 20px;
}

.productListContainer{
    border: 1px solid #ccc;
}

#productList{
    padding-left: 10px;
}