body{
    background-color: beige;
}
h1{
    color:rgb(4, 4, 139);
    font-size: 50px;
}

h2{
    color:rgb(4, 4, 139);
}

.singleWordDescription{
    color:rgb(202, 202, 0);
}

.mood{
    width: auto;
    height: 200px;
}

.checker{
    width: 100px;
    height: auto;
}

.welcomeContainer{
    background-color:antiquewhite;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #ccc;
    padding: 10px;
}

.welcomeContainer img{
    height: 10em;
    width: auto;
}

.logoutButton{
    border-radius: 10px;
    height: auto;
    width: 100px;
    padding: 10px;
    font-size: 20px;
    cursor: pointer;
}

.productListContainer{
    border: 1px solid #ccc;
}

#productList{
    padding-left: 10px;
}

.shoppingTable{
    display: flex;
    flex-direction: column;
    border: 1px solid #000;
    width: auto;
    margin: auto;
    padding: 10px;

}

.rowTitle{
    display: flex;
    font-weight: bold;
}

.row{
    display: flex;
}

.cell{
    flex:1;
    padding: 5px;
    text-align: center;
    border: 1px solid #000;
}

.cell img{
    height: auto;
    width: 20px;
}

.cell button{
    display: inline;
    cursor: pointer;
}

.cell div{
    display: inline;
}

.totalAmount{
    flex: 1;
    padding: 5px;
    text-align: right;
    margin-right: 5px;
}



 .buttonDiv{
    display: flex;
    justify-content: flex-end;
}

.placeOrderButton{
    margin: 10px;
    display: flex;
    border-radius: 10px;
    height: auto;
    width: auto;
    padding: 10px;
    font-size: 20px;
    cursor: pointer; 
}

.workshopLable{
    background-color: aliceblue;
}

form{
    border: 1px solid darkblue;
    display: block;
    margin: 10px;
}
